spring:
  application:
    name: ternary-operator

#jpa
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true

#jwt
jwt:
  secret:
    key: aognijodsbnmlzxvcmnonaowngfonasonvlscamnklvasdfaweahbnfgjfggzsgffsbxvbdsg

  access-token-expiration: 60 * 60 * 1000